* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.cabecalho {
    background-color: #5f27cd;
    padding: 16px 0;
    color:#fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

.cabecalho-botao {
    margin-left: 16px;
}

.formulario {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

.formulario-titulo{
    margin-bottom: 16px;
}

.formulario-url, .formulario-botao-adicionar, .formulario-botao-resetar {
    padding: 8px;
}

.formulario-botao-adicionar, .formulario-botao-resetar {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.formulario-botao-resetar {
    background-color: red;
}